body {
  overflow-x: hidden;
  background-color: #0b0c10;
  color: #66fcf1;
}
.groupSection {
  /* background-color: #66fcf1; */
  align-items: center;
  justify-content: center;
}

/* Float test start */
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0.5rem;
  margin-top: 5rem;
}

.floating h2 {
  margin-left: 3.5rem;
}

@keyframes floating {
  0% {
    transform: translate(0, 0rem);
    color: #fca311;
  }
  50% {
    transform: translate(0, 0.938rem);
    color: #13213c;
  }
  100% {
    transform: translate(0, -0rem);
    color: #fca311;
  }
}
/* Float test end */
.customcard-left {
  outline: none;
  border-radius: 1.3rem;
  box-shadow: rgb(0 0 0 / 31%) 12px 12px 8px 2px;
}

.customcard-right {
  outline: none;
  border-radius: 1.3rem;
  box-shadow: rgb(0 0 0 / 31%) -11px 10px 8px 2px;
}

.customcard img {
  border-radius: 1.3rem;
}

.leecustomCard2 img {
  height: 55rem;
  width: 36rem;
  margin-top: -25rem;
  margin-left: 6rem;
}

.member1 {
  background-color: #66fcf1;
}
